<ion-header>
  <ion-navbar color="secondary">
    <ion-title block>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Put your name here</ion-label>
    <ion-input type="text" [(ngModel)]="personName"></ion-input>
  </ion-item>
  <button ion-button block color="secondary" round (click)="showGreeting(personName)">Show The Greeting</button>
</ion-content>
